<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #5 - Refactor? -->
<!--Task #1 - this code creates a new table for each job and populates it field-by-field.-->

    <table th:each="job : ${jobs}" class="job-listing" th:fragment="jobDisplayTable">
        <tr>
            <td class="categoryHeader">ID</td>
            <td th:text="${job.id}">ID missing</td>
        </tr>
        <tr>
            <td class="categoryHeader">Name</td>
            <td th:text="${job.name}">Name missing</td>
        </tr>
        <tr>
            <td class="categoryHeader">Employer</td>
            <td th:text="${job.employer}">Employer missing</td>
        </tr>
        <tr>
            <td class="categoryHeader">Location</td>
            <td th:text="${job.location}">Location missing</td>
        </tr>
        <tr>
            <td class="categoryHeader">Position Type</td>
            <td th:text="${job.positionType}">Position type missing</td>
        </tr>
        <tr>
            <td class="categoryHeader">Skill</td>
            <td th:text="${job.coreCompetency}">Core competency missing</td>
        </tr>
    </table>

</div>

</body>
</html>